export LANG=zh_CN.UTF-8
export XIM_PROGRAM=fcitx
export XIM=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export QT_DEVICE_PIXEL_RATIO=1

#gpg-connect-agent updatestartuptty /bye >/dev/null 2>&1

