[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/id/Desktop/mc]
row=6
col=8

[/home/id/Desktop/砂浜につけた足跡は波がさらって.wav]
row=1
col=6

[/home/id/Desktop/朝霧のむこう，輝く景色.wav]
row=4
col=6

[/home/id/Desktop/OptiFine_1.16.2_HD_U_G3.jar]
row=5
col=1

[/home/id/Desktop/coredns-linux-amd64]
row=3
col=9

[/home/id/Desktop/go.mod]
row=7
col=1

[/home/id/Desktop/10 夜奏花 - Instrument.wav]
row=8
col=4

[/home/id/Desktop/猫に導かれて.wav]
row=2
col=6

[/home/id/Desktop/12 ポケットをふくらませて - Instrument.wav]
row=8
col=6

[/home/id/Desktop/1.16.zip]
row=2
col=9

[/home/id/Desktop/それは明日の自分のへの贈り物.wav]
row=7
col=6

[/home/id/Desktop/downlaod]
row=0
col=2

[/home/id/Desktop/09 Lasting Moment - Instrument.wav]
row=0
col=5

[/home/id/Desktop/[1.16]Default Realism 64x.zip]
row=1
col=9

[/home/id/Desktop/smartos-latest.iso]
row=7
col=2

[/home/id/Desktop/mcmods]
row=5
col=8

[/home/id/Desktop/craftbukkit-1.16.3.jar]
row=0
col=9

[/home/id/Desktop/滴滴出行行程报销单.pdf]
row=2
col=3

[/home/id/Desktop/blueproximity]
row=7
col=0

[/home/id/Desktop/世上最强炼气期.txt]
row=3
col=1

[/home/id/Desktop/compressed]
row=6
col=7

[/home/id/Desktop/Summer Pockets Orchestra ~ Album Echoes of Summer 600 dpi bk]
row=8
col=7

[/home/id/Desktop/TrueNAS-12.0-RC1.iso]
row=5
col=4

[/home/id/Desktop/openmediavault_5.5.11-amd64.iso]
row=6
col=2

[/home/id/Desktop/cf10ff1839c1e473.png]
row=2
col=7

[/home/id/Desktop/builder-1.0-SNAPSHOT.jar]
row=7
col=8

[/home/id/Desktop/echoes of summer 600dpi.png]
row=7
col=3

[/home/id/Desktop/archlinux-2020.10.01-x86_64.iso]
row=0
col=3

[/home/id/Desktop/11 羽のゆりかご - Instrument.wav]
row=0
col=7

[/home/id/Desktop/04 蝉声とともに ～ 夏休みの過ごし方 ～ 坂の上の陽炎.wav]
row=5
col=5

[/home/id/Desktop/key  Summer Pockets.7z]
row=2
col=4

[/home/id/Desktop/da6218ed34ca2beb.png]
row=1
col=7

[/home/id/Desktop/SEUS-Renewed-v1.0.1.zip]
row=4
col=8

[/home/id/Desktop/08 紬の夏休み - Instrument.wav]
row=1
col=5

[/home/id/Desktop/05 White with You.wav]
row=4
col=5

[/home/id/Desktop/server.jar]
row=3
col=2

[/home/id/Desktop/chrome-jgeocpdicgmkeemopbanhokmhcgcflmi-Default.desktop]
row=3
col=4

[/home/id/Desktop/chunkbase_6483222843167425708.png]
row=5
col=7

[/home/id/Desktop/cover_1.jpg]
row=0
col=4

[/home/id/Desktop/FreeNAS-11.3-U5.iso]
row=4
col=4

[/home/id/Desktop/06 Golden Hours.wav]
row=3
col=5

[/home/id/Desktop/替 swap 辩护：常见的误解.pptx]
row=3
col=8

[/home/id/Desktop/212475txt.zip]
row=4
col=1

[/home/id/Desktop/avege]
row=5
col=0

[/home/id/Desktop/Rockstor-3.9.1.iso]
row=7
col=4

[/home/id/Desktop/echoes of summer 1200dpi.png]
row=8
col=3

[/home/id/Desktop/cover.jpg]
row=1
col=4

[/home/id/Desktop/CGO分享.ppt]
row=6
col=0

[/home/id/Desktop/滴滴电子发票.pdf]
row=3
col=3

[/home/id/Desktop/Dynmap-3.0.1-spigot.jar]
row=8
col=8

[/home/id/Desktop/琉璃神社壁纸包 2020年8月号.zip]
row=6
col=3

[/home/id/Desktop/drone_test]
row=8
col=1

[/home/id/Desktop/各类费用报销明细表模板-id.xlsx]
row=1
col=3

[/home/id/Desktop/花ひらく旅立ち‐ある仮定，瑠璃色の物語.wav]
row=0
col=6

[/home/id/Desktop/Summer Pockets Orchestra ~ Album Echoes of Summer 1200dpi bk]
row=0
col=8

[/home/id/Desktop/広がる海，水平線とカモメ.wav]
row=5
col=6

[/home/id/Desktop/[DHR][Houkago Teibou Nisshi][12][BIG5][720P][AVC_AAC].mp4]
row=6
col=1

[/home/id/Desktop/coredns-linux-amd64.zip]
row=2
col=8

[/home/id/Desktop/01 Summer Pockets.wav]
row=8
col=5

[/home/id/Desktop/laacis2s Natural 2k+ (1.12-1.8).zip]
row=2
col=1

[/home/id/Desktop/BNNB]
row=8
col=0

[/home/id/Desktop/Summer Pockets~Summer Session~ひと夏の冒険]
row=7
col=7

[/home/id/Desktop/prometheus]
row=3
col=7

[/home/id/Desktop/Summer Pockets Orchestra ~ Album Echoes of Summer]
row=1
col=8

[/home/id/Desktop/yacd]
row=5
col=2

[/home/id/Desktop/03 Sea,You&Me.wav]
row=6
col=5

[/home/id/Desktop/a]
row=5
col=3

[/home/id/Desktop/07 虹の蝶 ～ かの記憶、あの記憶.wav]
row=2
col=5

[/home/id/Desktop/ipfs-cluster]
row=1
col=2

[/home/id/Desktop/zabbix-docker]
row=4
col=7

[/home/id/Desktop/EasyNAS.x86_64-1.0.0_Beta_2.install.iso]
row=6
col=4

[/home/id/Desktop/drone]
row=8
col=2

[/home/id/Desktop/Al-Idhar_Creative.zip]
row=1
col=1

[/home/id/Desktop/02 アルカテイル - Instrument -.wav]
row=7
col=5

[/home/id/Desktop/木漏れ日のさす小道を進んだ先に.wav]
row=3
col=6

[/home/id/Desktop/各类费用报销明细表模板.xlsx]
row=4
col=3

[/home/id/Desktop/大切なものは心に残るだろう.wav]
row=6
col=6

[/home/id/Desktop/面试.txt]
row=0
col=1

[/home/id/Desktop/gui-config.json]
row=4
col=2

[/home/id/Desktop/disk]
row=2
col=2

[17c708aa-084d-4673-858a-6e7aadebe921]
row=2
col=0

[/]
row=3
col=0

[/home/id]
row=4
col=0

